<body style="background-color:powderblue;">
<picture>
    <img src="file:///D:/XAMPP/htdocs/Server/IDep-GameHex/public/assets/images/Image1.png" class="img-circle" >
    </picture>
<h1 style="background-color:DodgerBlue;">!Welcome to our family!</h1>

<p style="background-color:Tomato;">
    We, GAMEHEXteam, are very delighted to have you with us. <br><br>
    We promise a best experience!!
    {#<a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.#}
</p>

<p style="border:2px solid Violet;">
    Most welcome!
</p>
</body>