<form method="post" action="{{ path('app_articles_delete', {'articleid': article.articleid}) }}" 
    onsubmit="return confirm('Are you sure you want to delete this item?');" 
    class="container" style="text-align:center;">

                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.articleid) }}">
                <button class="btn btn-danger m-5">Delete</button>

</form>
