{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}
    <h1 class="p-3" style="text-align:center;">Edit Article</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('articles/_delete_form.html.twig') }}

{% endblock %}
