{% extends 'baseAdmin.html.twig' %}

{% block title %}New Information{% endblock %}


{% block body %}

    <h1 class="p-3" style="text-align:center;">Create new Info</h1>

    {{ include('info/_form.html.twig') }}

{% endblock %}
